body {
    font-family: Arial, sans-serif;
    background-image: url(../imagens/wallpaper5.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ff7f50;
}

section {
    padding: 20px;
    max-width: 1200px;
    margin: 100px auto;
}

h2 {
    text-align: center;
    color: white;
}

.trailer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.trailer {
    max-width: 560px;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.trailer iframe {
    width: 100%;
    height: auto;
    border: none;
}

.trailer p {
    margin-top: 15px;
    color: #f5f5f5;
    font-size: 1em;
    line-height: 1.6;
}
